<div class="container my-3">
    <div class="jumbotron custom-jumbotron">
        <h1 class="display-4 text-center mb-4">About This Angular App</h1>
        <p class="lead text-center">Welcome to our amazing Angular app! Unlock the potential of web development with Angular.</p>
        <hr class="my-4">
        <p class="text-center">Explore the rich features and functionality it offers, and craft extraordinary web applications with ease.</p>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
        </div>
    </div>
</div>
